* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(253, 191, 15, .85);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(58, 184, 235, .85);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(249, 120, 75, .85);
}
